<!-- <h1>
  {{title}}
</h1> -->
<div class="mySlider">
<carousel>
<slide>
<img src="./assets/images/RichandJolene1.jpg" alt="First slide">
</slide>
<slide>
<img src="assets/images/RichandJolene2.jpg" alt="Second slide">
</slide>
<slide>
<img src="assets/images/RichandJolene3.jpg" alt="Third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene4.jpg" alt="Four slide">
</slide>
<slide>
<img src="assets/images/RichandJolene5.jpg" alt="Five slide">
</slide>
<slide>
<img src="assets/images/RichandJolene6.jpg" alt="Six slide">
</slide>
<slide>
<img src="assets/images/RichandJolene7.jpg" alt="First slide">
</slide>
<slide>
<img src="assets/images/RichandJolene8.jpg" alt="Second slide">
</slide>
<slide>
<img src="assets/images/RichandJolene9.jpg" alt="Third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene10.jpg" alt="First slide">
</slide>
<slide>
<img src="assets/images/RichandJolene11.jpg" alt="Second slide">
</slide>
<slide>
<img src="assets/images/RichandJolene12.jpg" alt="Third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene13.jpg" alt="First slide">
</slide>
<slide>
<img src="assets/images/RichandJolene14.jpg" alt="Second slide">
</slide>
<slide>
<img src="./assets/images/RichandJolene15.jpg" alt="Third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene16.jpg" alt="First slide">
</slide>
<slide>
<img src="assets/images/RichandJolene17.jpg" alt="Second slide">
</slide>
<slide>
<img src="assets/images/RichandJolene18.jpg" alt="Third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene19.jpg" alt="Nineteen slide">
</slide>
<slide>
<img src="assets/images/RichandJolene20.jpg" alt="Twenty slide">
</slide>
<slide>
<img src="assets/images/RichandJolene21.jpg" alt="Twenty-first slide">
</slide>
<slide>
<img src="assets/images/RichandJolene22.jpg" alt="Twenty-second slide">
</slide>
<slide>
<img src="assets/images/RichandJolene23.jpg" alt="Twenty-third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene24.jpg" alt="Twenty-fourth slide">
</slide>
<slide>
<img src="assets/images/RichandJolene25.jpg" alt="Twenty-fifth slide">
</slide>
</carousel>
</div>

<tabset>
  <tab>
    <template tabHeading>Wedding RSVP</template>
    Tab 2 content
  </tab>
  <!-- <tab heading='Hotels'>Tab 1 content</tab> -->
  <tab>
    <template tabHeading>Hotels</template>
    <ul>
      <li>
        <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/boynton-beach/boyhi/hoteldetail?cm_mmc=bingMaps-_-EX-_-USA-_-BOYHI" target="_blank">Holiday Inn Express</a>
        <p>Room Rate: $129 single / $139 double</p>
        <p>Booking Info: 1-888-HOLIDAY <br> Johnson and Clark Wedding Room block</p>
        <p>Book by: 4/26/2017</p>
        <p>Breakfast Included</p>
        <p>Address: 2001 West Ocean Drive <br> Boynton Beach, Florida 33426</p>
        <hr>
      </li>
      <li>
        <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Johnson%20and%20Clark%20Wedding%20Room%20Block%5Epbird%60jckjcka%60123.0%60USD%60false%604%605/26/17%605/29/17%604/26/17&app=resvlink&stop_mobi=yes" target="_blank">Residence Inn WPB Downtown</a>
        <p>Room Rate: $123</p>
        <p>Booking Info: 1-800-321-2211 <br> Johnson and Clark Wedding Room block</p>
        <p>Book by: 4/26/2017</p>
        <p>Breakfast Included</p>
        <p>Parking: $17.00 per day* *1 Vehicle/Room</p>
        <p>Address: 455 Hibiscus St <br> WPB, FL 33401</p>
        <hr>
      </li>
      <li>
        <a href="https://www.wyndhamhotels.com/ramada/west-palm-beach-florida/ramada-west-palm-beach/overview" target="_blank">Ramada WPB</a>
        <p>Room Rate: $74</p>
        <p>Booking Info: 561-689-6100 <br> CODE: 1705JOHNSO <br>CALL TO BOOK </p>
        <p>Book by: 5/1/2017</p>
        <p>Breakfast NOT Included</p>
        <p>Parking: $22.00 per day</p>
        <p>Address: 1901 Palm Beach Lakes Blvd <br> WPB, FL 33409</p>
        <hr>
      </li>
      <li>
        <a href="#" target="_blank">Tideline Hotel & Resort</a>
        <p>Room Rate: $74</p>
        <p>561-540-6457 <br> Johnson / Clark Wedding <br> BOOKING CODE CURRENTLY UNAVAILABLE</p>
        <p>Book by: 4/26/17</p>
        <p>Breakfast Included</p>
        <hr>
      </li>
    </ul>
  </tab>
  <tab>
    <template tabHeading>Registry</template>
    <br>
    <br>
    <p><a href="https://www.paypal.me/JoleneRichardClark" target="_blank">f you are thinking of giving a gift to help us on our way, a gift of currency in a card would really make our day!</a></p>
  </tab>
  <tab>
    <template tabHeading>Wedding Ceremony and Reception</template>
    <p>Where: Tideline Ocean Resort & Spa</p>
    <p>Address: 2842 S Ocean Blvd,<br> Palm Beach, FL 33480 </p>
    <p>Phone: (561) 540-6440</p>
    <p>Time: 4:30pm </p>
    <p>Note: this is an outdoor ceremony. It is a holiday weekend so please plan to arrive early at the Tideline Hotel if you are driving to the hotel. COMPLIMENTARY PARKING FOR WEDDING ONLY.</p>
    <p>The wedding activities will be taking place in multiple areas of the hotel please keep an eye for signage and personnel for guidance. The reception is on the second floor please walk up the stairs or take he elevator. The hotel is multi-level and there is elevator access for those who may need it.</p>

  </tab>
  <tab>
    <template tabHeading>Wedding Weekend Activities</template>
    <p></p>
  </tab>

</tabset>
