.mySlider {
  width: 1000px;
  margin: 0 auto;
}
.buttonDiv{
  background-color: #fff9e5 !important;
}
.myContainer{
  background-color: #feefef;
  min-height: 100vh;
}
.jumbotron{
  background-color:#fff9e5 !important;
}
