
  <div class="jumbotron">
    <h1>
      {{title}}
    </h1>
  </div>


<div class="mySlider">
<carousel>
<slide>
<img src="./assets/images/RichandJolene1.jpg" alt="First slide">
</slide>
<slide>
<img src="assets/images/RichandJolene2.jpg" alt="Second slide">
</slide>
<slide>
<img src="assets/images/RichandJolene3.jpg" alt="Third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene4.jpg" alt="Four slide">
</slide>
<slide>
<img src="assets/images/RichandJolene5.jpg" alt="Five slide">
</slide>
<slide>
<img src="assets/images/RichandJolene6.jpg" alt="Six slide">
</slide>
<slide>
<img src="assets/images/RichandJolene7.jpg" alt="First slide">
</slide>
<slide>
<img src="assets/images/RichandJolene8.jpg" alt="Second slide">
</slide>
<slide>
<img src="assets/images/RichandJolene9.jpg" alt="Third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene10.jpg" alt="First slide">
</slide>
<slide>
<img src="assets/images/RichandJolene11.jpg" alt="Second slide">
</slide>
<slide>
<img src="assets/images/RichandJolene12.jpg" alt="Third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene13.jpg" alt="First slide">
</slide>
<slide>
<img src="assets/images/RichandJolene14.jpg" alt="Second slide">
</slide>
<slide>
<img src="./assets/images/RichandJolene15.jpg" alt="Third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene16.jpg" alt="First slide">
</slide>
<slide>
<img src="assets/images/RichandJolene17.jpg" alt="Second slide">
</slide>
<slide>
<img src="assets/images/RichandJolene18.jpg" alt="Third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene19.jpg" alt="Nineteen slide">
</slide>
<slide>
<img src="assets/images/RichandJolene20.jpg" alt="Twenty slide">
</slide>
<slide>
<img src="assets/images/RichandJolene21.jpg" alt="Twenty-first slide">
</slide>
<slide>
<img src="assets/images/RichandJolene22.jpg" alt="Twenty-second slide">
</slide>
<slide>
<img src="assets/images/RichandJolene23.jpg" alt="Twenty-third slide">
</slide>
<slide>
<img src="assets/images/RichandJolene24.jpg" alt="Twenty-fourth slide">
</slide>
<slide>
<img src="assets/images/RichandJolene25.jpg" alt="Twenty-fifth slide">
</slide>
</carousel>
</div>

<div class="buttonDiv">
  <br>
  <br>
  <div class="buttons">
    <a href="/rsvp" class="btn btn-info" role="button" >RSVP</a>

    <a href="/hotel" class="btn btn-info" role="button">Hotels</a>

    <a href="/reception" class="btn btn-info" role="button">Reception</a>

    <a href="/events" class="btn btn-info" role="button">Events</a>

    <a href="/registry" class="btn btn-info" role="button">Registry</a>

    <a href="/social" class="btn btn-info" role="button">Social</a>
  </div>
  <br>
  <br>
</div>
