<h1>
  {{title}}
</h1>

<p>Where: Tideline Ocean Resort & Spa</p>
<p>Address: 2842 S Ocean Blvd,<br> Palm Beach, FL 33480 </p>
<p>Phone: (561) 540-6440</p>
<p>Time: 4:30pm </p>
<p>Note: this is an outdoor ceremony. It is a holiday weekend so please plan to arrive early at the Tideline Hotel if you are driving to the hotel. COMPLIMENTARY PARKING FOR WEDDING ONLY.</p>
<p>The wedding activities will be taking place in multiple areas of the hotel please keep an eye for signage and personnel for guidance. The reception is on the second floor please walk up the stairs or take he elevator. The hotel is multi-level and there is elevator access for those who may need it.</p>
